/break.py
/continue.py
/definition_function.py
/excersie_variables.py
/first.py
/for_statement1.py
/for_statement2.py
/if_statement.py
/lists.py
/match_statement.py
/pass_statement.py
/range_function.py
/try.ipynb
/variables.py